@tailwind base;

@tailwind components;

@tailwind utilities;

.acf-field.fontawesomepicker,
.acf-field.fontawesomepicker input {
    cursor: pointer;
}

.sjwfp a[href],
.sjwfp button {
    cursor: pointer;
}

.sjwfp svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
}
